html, body {
    height: 100%;
    background-color: #ecf0f1;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;

}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#tasker-wrapper {
    width: 85%;
    max-width: 400px;
    margin: 20px auto;
}

.tasker {
    margin: 0 auto;
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
}

.tasker input {
    width: 80%;
    padding: 14px;
    border: none;

    background-color: #bdc3c7;
    color: #fff;

    font-size: 1em;
    font-family: Helvetica, Arial, sans-serif;

    flex-grow: 2;
}

.tasker input:focus {
    outline-width: 0;   /*removes higlight effect from an input element*/
}

.add-task {
    background-color: #1abc9c; 
    color: #fff;
    padding: 14px;
    font-size: 1.25em;
    font-weight: bold;
    border: 1px solid #16a085;
    cursor: pointer;

    width: 50px;
    height: 50px;

    line-height: 1em;
}

.add-task:hover {
    background-color: #28e1bd;
    border: none;
}





.tasker-body {
    margin: 0 auto;
    width: 100%;
    display: inline-flex;
    justify-content: space-between;

    position: relative;
    padding: 14px 40px 14px 14px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

}

.tasker-body:last-child {
    border-bottom: none;
}